@import "tailwindcss";

:root {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 16px;

  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(0, 0%, 63%);
  --grey-800: hsl(0, 0%, 27%);
  --black: hsl(0, 0%, 0%);
}

body {
  margin: 0;
  background-color: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
